{:lib      io.github.buddhilw/cleanx
 :minor    1
 :license  {:name "EPL-1.0" :url "https://www.eclipse.org/legal/epl-v10.html"}
 :scm-url  "https://github.com/BuddhiLW/cleanx"
 :src-dirs ["src" "resources"]
 :publish  :clojars}
